<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChapterListMB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChapterListMB.Properties.Settings>
            <setting name="HighlightColor" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="HighlightBackgroundColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="ChapterPositionShiftValue" serializeAs="String">
                <value>00:00:00.2000000</value>
            </setting>
            <setting name="StartWithMusicBee" serializeAs="String">
                <value>False</value>
            </setting>
        </ChapterListMB.Properties.Settings>
    </userSettings>
</configuration>